.hero{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: left;
    align-items: flex-end;

    &-title{
        font-size: 18rem;
        line-height: 14rem;
        margin-bottom: 1rem;
        margin-left: 1rem;
        font-weight: bold;
        color: red;
    }

}

@media (max-width: 1400px) {
    .hero{
        &-title{
            font-size: 14rem;
            line-height: 9rem;
        }
    }
}

@media (max-width: 900px) {
    .hero{
        &-title{
            font-size: 7rem;
            line-height: 5rem;
        }
    }
}

@media (max-width: 570px) {
    .hero{
        &-title{
            font-size: 4rem;
            line-height: 3rem;
        }
    }
}