.text{
    width: calc(100% - 8rem);
    max-width: 2500px;
    margin: auto;
    margin-top: 8rem;
    margin-bottom: 2rem;
    display: flex;
    justify-content: space-between;

    @media (max-width: 1130px) {
        flex-direction: column;
        width: auto;
    }
    

    p{
        position: relative;
        width: 500px;
        font-size: 2rem;
        font-weight: lighter;

        @media (max-width: 1130px) {
            width: auto;
            padding: 0 1rem;
        }

        @media (max-width: 800px) {
            font-size: 1.3rem;
        }
    }

    .second-text{
        margin-top: 17rem;
        
        @media (max-width: 1130px) {
            margin-top: 0;
        }
    }

}