.text-image{
    height: 80rem;
    width: calc(100% - 8rem);
    max-width: 2500px;
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: relative;

    @media (max-width: 980px) {
        height: auto;
        flex-direction: column;
        justify-content: flex-end;
        width: auto;
        gap: 2rem;
    }

    h3{
        display: flex;
        flex-direction: column;

        @media (max-width: 1250px) {
            font-size: 7rem;
            line-height: 6rem;
        }

        @media (max-width: 980px) {
            padding-left: 1rem;
        }

        @media (max-width: 500px) {
            font-size: 4rem;
            line-height: 3.5rem;
        }

    }

    img{
        position: absolute;
        top: 5rem;
        left: 0;
        z-index: -1;
        width: 45%;

        @media (max-width: 980px) {
            position: relative;
            top: 0;
            width: 100%;
        }
    }
    

    p{
        position: absolute;
        bottom: -5rem;
        right: 0;
        width: 500px;
        font-size: 2rem;
        font-weight: lighter;

        @media (max-width: 1130px) {
            width: auto;
            padding: 0 1rem;
        }

        @media (max-width: 980px) {
            bottom: 0;
            position: relative;
            margin: 0;
        }

        @media (max-width: 800px) {
            font-size: 1.3rem;
        }

    }

}