.text{
    width: calc(100% - 8rem);
    max-width: 2500px;
    margin: auto;
    margin-top: 8rem;
    margin-bottom: 2rem;
    display: flex;
    justify-content: space-between;
    

    p{
        position: relative;
        width: 500px;
        font-size: 2rem;
        font-weight: lighter;
    }

    .second-text{
        margin-top: 17rem;
    }

}